* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans;
}

img {
    max-width: 100%;
}

body {
    background-color: #020a18;
}

.header {
    margin-bottom: 160px;
}

.container {
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}

.rectangle {
    width: auto;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: linear-gradient(180deg, rgba(255, 255, 255, 0.20) -41.9%, rgba(255, 255, 255, 0.40) 260.24%);
    backdrop-filter: blur(100px);
    margin-bottom: 157px;
}

.header__link {
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    border: 1px solid transparent;
}

.header__flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    padding-top: 40px;

}

.header__link:hover {
    color: #3A68B8;
    border: 1px solid transparent;
    border-radius: 6px;
}

.subtitle {
    color: var(--3-a-68-b-8, #3A68B8);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
    text-transform: uppercase;
    margin-bottom: 10px;
}

.title {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    /* 71.5px */
    margin-bottom: 40px;
    max-width: 605px;
}

.dsc {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
    opacity: 0.7;
    margin-bottom: 50px;
    max-width: 558px;
}

.main__link {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 15px 30px;
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    text-decoration: none;
    margin-right: 20px;
    border: 1px solid transparent;
}

.main__link:hover {
    border: 1px solid #3A68B8;
    color: #3A68B8;
    background-color: #FFF;
}

.flex {
    display: flex;
    justify-content: space-between;
}

/* .main_left,
.main_rigth {
    width: 45%;
} */

.main {
    margin-bottom: 200px;
}

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1146px;
}

.icon_play {
    margin-right: 10px;
    font-size: 20px;

}

.apply__ai {
    gap: 68px;
    margin-bottom: 264px;
}

.apply__ai__title {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 52px */
    width: 484px;
    margin-bottom: 30px;
}

.apply__ai__text {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
    /* 25.6px */
    width: 460px;
    margin-bottom: 50px;
}

.table_content {
    border-radius: 10px;
    background: #132035;
    flex-shrink: 0;
    padding: 30px;
    display: grid;
    justify-items: center;
    /* gap: 60px; */
}

.table {
    margin: 0 auto;
    max-width: 1146px;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-template-rows: 31% 31% 31%;
    margin-bottom: 257px;
    justify-items: center;
    gap: 30px;
}

.content4 {
    grid-column: span 2;
    grid-row: span 2;
}

.table_img {
    margin-bottom: 30px;
}

.table__subtitle {
    color: var(--ffffff, #FFF);
    font-size: 25px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    /* 31.25px */
    opacity: 0.7;
    margin-bottom: 30px;
}

.table__text {
    color: var(--ffffff, #FFF);
    font-size: 16px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 25.6px */
    opacity: 0.7;
    margin-bottom: 30px;
}

.ending__title {
    color: var(--ffffff, #FFF);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 52px */
    width: 548px;
}

.title_text {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 25.6px */
    opacity: 0.7;
    margin-top: 40px;
    width: 460px;
}

.ending {
    margin-bottom: 235px;
}

.footer {
    margin-bottom: 48;
    border-radius: 10px;

}

.title_footer {
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 33px;
}

.contacts_text_footer {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 33px;
}

.footer_text {
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    line-height: normal;
    opacity: 0.6;
}

.information,
.about_store,
.contacts_store {
    width: 35%;
    margin-right: 30px;
}

.footer_icon {
    margin-right: 9px;
}

.social_logo {
    margin-right: 24px;
}

@media (max-width: 1024px) {
    .container {
        max-width: 100vw;
    }

    .subtitle {
        font-size: 16px;
    }

    .title {
        font-size: 48px;
    }

    .logos {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-gap: 32px;
        justify-items: center;
        justify-content: center;
        margin-bottom: 120px;
        margin-top: 197px;
        ;

    }

    .flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        display: flex;
        /* width: 767px; */
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 128px;
    }

    .table {
        display: flex;
        width: 768px;
        max-height: 1231px;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        flex-wrap: nowrap;
        overflow: hidden;
        padding-left: 40px;
        padding-right: 40px;
    }

    .table_content {
        max-width: 362px;
        max-height: 389px;
    }

    .table_img {
        max-width: 98px;
    }

    .table__subtitle {
        font-size: 25px;
    }

    .table__text {
        font-size: 16px;
    }

    .ending__title {
        font-size: 40px;
    }

    .title_text {
        font-size: 16px;
    }

    .tablet_footer {
        display: flex;
        padding: 48px 40px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 30px;
        flex-wrap: wrap;
    }
}

@media (max-width: 767px) {
    * {
        padding: 0;
        margin: 0;
    }

    .header {
        margin-bottom: 64px;
    }

    .header__flex {
        width: 100vw;
        display: flex;
        width: 375px;
        height: 64px;
        padding: 39px 0px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        flex-shrink: 0;
        flex-wrap: nowrap;
    }


    .header__link {
        font-size: 14px;
    }

    .main_left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .subtitle {
        font-size: 14px;
    }

    .title {
        font-size: 28px;
        text-align: center;
    }

    .main__link {
        margin-bottom: 24px;
    }

    .main {
        margin-bottom: 128px;
    }

    .logos {
        margin-top: 104px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        max-width: 100vw;
        display: flex;

        padding-left: calc(50% - 163px);
        padding-right: calc(50% - 163px);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 128px;
        margin-left: 17px;
        margin-right: 17px;

    }

    .apply__ai__rigth {
        text-align: center;
        width: 344px;
    }

    .apply__ai__title {
        font-size: 24px;
        text-align: center;
        width: 343.25px;
    }

    .apply__ai__text {
        font-size: 16px;
        width: 343px;
    }

    .table {
        display: flex;
        width: 343px;
        max-height: 1231px;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        flex-wrap: nowrap;
        overflow: hidden;
        padding-left: 6px;
        padding-right: 6px;

    }

    .table_content {
        max-width: 362px;
        max-height: 389px;
    }

    .table_img {
        max-width: 98px;
    }

    .table__subtitle {
        font-size: 25px;
    }

    .table__text {
        font-size: 16px;
    }

    .ending__title {
        font-size: 24px;
        text-align: center;
        width: 343.25px;
    }

    .title_text {
        font-size: 16px;
        width: 343px;
    }

    .information,
    .about_store,
    .contacts_store {
        width: 341px;
    }

    .tablet_footer {
        display: flex;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
        flex-wrap: nowrap;
    }

    .title_footer {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .contacts_text_footer {
        display: flex;
        justify-content: center;
    }

    .logo__footer {
        display: flex;
        justify-content: center;
        margin-bottom: 64px;
    }
}