* {
    margin: 0;
    padding: 0;
}

// .box-content {
//     width: 200px;
//     height: 30px;
//     background-color: blue;
// }

// .box-content:has(.text) {
//     background-color: aquamarine;
// }
// .title.title:nth-of-type(3n) {
//     background-color: red;
// }
.text {
    font-size: 16px;
    font-weight: 300;
    width: 300px;

}

.text::first-letter {
    font-style: italic;
    initial-letter: 3 3;
    color: red;
    margin-right: 10px;
}