@import 'mixins';
@import 'base';

.filter-sort {
    height: 132px;
    padding-top: 39px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    gap: 30px;
}

.filter {
    &[open] {
        box-shadow: (10px 30px 35px rgba(0, 0, 0, 0.21));
    }

    padding-top: 13px;
    width: 360px;
    position: relative;
    z-index: 10;
    box-sizing: border-box;

    &__content {
        background-color: #fff;
        padding: 0 16px 16px;

    }

    &[open] {
        transition: .2s;
        background: #FFF;
        box-shadow: (6px 4px 35px rgba(0, 0, 0, 0.21));

        &:hover path {
            filter: drop-shadow(1px 1px 5px $colorSelectSite);
            transition: .3px;
        }
    }

    &[open] .filter__heading {
        color: $colorSelectSite;
        transition: .3s;

        &:hover {
            text-shadow: 0px 0px 5px $colorSelectSite;
            transition: .2s;
        }

    }

    &[open] path {
        fill: $colorSelectSite;
        transition: .3s;
    }

    &__summary {
        padding-left: 16px;
        display: flex;
        align-items: center;
        gap: 11px;


        &:hover {
            text-shadow: 1px 1px 5px $colorText;
            transition: .3s;
        }

        &:hover path {
            filter: drop-shadow(1px 1px 5px $colorText);
            transition: .3s;
        }
    }

    &__heading {
        color: $colorText;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__item {
        margin-top: 16px;
        transition: .3s;

        &[open] .filter__head {
            color: $colorSelectSite;
            transition: .3s;

            &:hover {
                text-shadow: 1px 0px 3px $colorSelectSite;
            }
        }
    }


    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;
    }

    &__link {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &:hover {
            color: $colorSelectSite;
            transition: .3s;
            text-shadow: 1px 0px 3px $colorSelectSite;
        }
    }

    &__head {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid $colorSelectSite;

        &:hover {
            text-shadow: 1px 0px 3px #6F6E6E;
            transition: .3s;
        }
    }
}

.sort {
    padding-top: 12px;
    display: flex;
    gap: 18px;
    z-index: 10;

    &__details {
        position: relative;
    }

    &__summary {
        display: flex;
        gap: 10px;
        align-items: center;

        &:hover {
            text-shadow: 2px 2px 5px #6F6E6E;
        }

        &:hover path {
            filter: drop-shadow(2px 2px 5px #6F6E6E);
        }
    }

    &__check {
        display: flex;
        gap: 9px;
        align-items: center;
        color: #6F6E6E;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__heading {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        background: #fff;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
        position: absolute;
        left: -9px;
        top: 22px;
    }
}

.select_pages_box {
    @include flexcenter;
    margin-bottom: 80px;
}


.select_pages {
    padding: 0px 8px;
    background-color: $backSlideColor;
    height: 42px;
    width: 280px;
    border: 1px solid #aeaeae;
}


.carousel {

    &-inner {
        display: flex;
        justify-content: center;
        right: 0px;
        top: 8px;

    }


    &-control {

        &-prev {
            justify-content: flex-start;

            &-icon {
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'%3e%3cpath d='M21.6998 7.7499L13.9498 15.4999L21.6998 23.2499L20.1498 26.3499L9.2998 15.4999L20.1498 4.6499L21.6998 7.7499Z' fill='black'/%3e%3c/svg%3e");
                background-color: white;


                &:hover {
                    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'%3e%3cpath d='M21.6998 7.7499L13.9498 15.4999L21.6998 23.2499L20.1498 26.3499L9.2998 15.4999L20.1498 4.6499L21.6998 7.7499Z' fill='%23F16D7F'/%3e%3c/svg%3e");
                }
            }

        }
    }



    &-control-next {
        justify-content: flex-end;

        &-icon {
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'%3e%3cpath d='M9.2998 23.2499L17.0498 15.4999L9.2998 7.7499L10.8498 4.6499L21.6998 15.4999L10.8498 26.3499L9.2998 23.2499Z' fill='black'/%3e%3c/svg%3e");
            background-color: white;

            &:hover {
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.2998 23.2499L17.0498 15.4999L9.2998 7.7499L10.8498 4.6499L21.6998 15.4999L10.8498 26.3499L9.2998 23.2499Z' fill='%23F16D7F'/%3e%3c/svg%3e ");
            }
        }
    }
}

@media (max-width: 767px) {
    .filter {
        width: 50px;

        &[open] {
            width: 360px;
        }

        &__heading {
            display: none;
        }

        &__summary svg {
            width: 38px;
            height: 25px;
        }
    }

    .sort {
        position: absolute;
        left: 107px;
        z-index: 9;
    }
}