$sizeSite: 1140px;
$backColorDark: #222;
$backColorBrand: #F1E4E6;
$colorSelectSite: #F16D7F;
$colorSecondText: #9F9F9F;
$backSlideColor: #F7F7F7;
$colorText: #000;
$widthBurgerMenu: 232px;
$carousel-control-color: $colorSelectSite;
$carousel-control-hover-opacity: 1;
$carousel-control-opacity: 1;
$currentPrice: '300$';
$currentColor: 'Red';
$selectSize: "XL";
$selectQuantity : '2';