* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.center {
    margin-left: calc(50% - 570px);
    margin-right: calc(50% - 570px);
}

.header {
    background-color: #222;
    padding-bottom: 20px;
    padding-top: 18px;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right_header {
    display: flex;
    margin-right: 8px;
    gap: 25px;
}

.left__header {
    display: flex;
    gap: 41px;
}

.store_cover {
    background-color: #F1E4E6;
}

.cover_content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: calc(50% - 800px);
    margin-right: calc(50% - 800px);
    margin-bottom: 65px;

}

.brand_logo {
    display: flex;
    gap: 16px;
    margin-left: 63px;
}

.brand_text {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.logo_title {
    grid-column: span 2;
    color: #222;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

}

.logo_subtitle {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pink {
    color: #F16D7F;
}

.menu_grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 29px;
    margin-bottom: 95px;
}


.item {
    border: 1px solid transparent;
    width: 360px;
    height: 260px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    filter: brightness(0.7) sepia(0.1);
    transition: all 0.3s;
}

.menu_text {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu_title {
    color: #F16D7F;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.women {
    background-image: url(img/women.png);
}

.men {
    background-image: url(img/men.png);
}

.kids {
    background-image: url(img/kid.png);
}

.big {
    background-image: url(img/accesories.png);
    grid-column: span 3;
    grid-row: 2;
    width: 1140px;
    height: 180px;
    flex-shrink: 0;
}

.item:hover {
    border: 1px solid rgba(33, 22, 22, 0.70);
    filter: none;
}

.items_flex {
    margin-bottom: 48px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.items_title {
    color: #222;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product_text {
    color: #9F9F9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.items_grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 30px;
    margin-bottom: 48px;
}

.title_and_price {
    padding: 24px 16px;
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-direction: column;
    background-color: #F8F8F8;
}

.product_subtitle {
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.price {
    color: #F16D7F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.product_img {
    transition: all .9s;
}

.pinky {
    background-color: #F7E4E2;
}

.product:hover .product_img {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);

}

.product:hover .product_add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.product_add {
    position: absolute;
    top: 188px;
    left: 111px;
    border: 1px solid #fff;
    width: 139px;
    height: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 11px;
    color: #FFFFFF;
    transition: all .4s;
}

.product_add:hover {
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0 0 5px #fff;
}

.product_add:hover svg path {
    fill: #F16D7F;
}

.show_all {
    display: flex;
    justify-content: center;
}

.all_product_link {
    color: #F26376;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #FF6A6A;
    padding: 15px 39px;
    text-decoration: none;
    margin-bottom: 60px;
    transition: all 0.3s;
}

.all_product_link:hover {
    border: 1px solid #ffffff;
    background-color: #F26376;
    color: #ffffff;
}

.footer__top {
    background-color: #222224;
    padding-bottom: 104px;
    padding-top: 104px;
}

.footer__top_flex {
    display: flex;
    justify-content: space-between;
}

.footer__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;

}

.footer__img {
    color: #F16D7F;
    margin-bottom: 28px;
}

.icon__title {
    color: #FBFBFB;
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
}

.icon__text {
    color: #FBFBFB;
    text-align: center;
    font-size: 13.972px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.footer_info {
    background: linear-gradient(rgba(244, 244, 244, 0.70), rgba(244, 244, 244, 0.70)),
        url(img/footer_bkgr.png);
    background-size: 100vw;
    background-position: left;
    background-repeat: no-repeat;

    height: 448px;

}

.footer_info_flex {
    display: flex;
    justify-content: flex-start;
    gap: 327px;

}

.about_left {
    display: flex;
    width: 360px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.about__img {
    width: 96px;
    margin-top: 97px;
    margin-bottom: 30px;
}

.about__text__flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.about__text {
    color: #222224;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about__text__italic {
    color: #222224;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.about_right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about_title {
    margin-top: 150px;
    color: #222224;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%;
}

.about_subtitle {
    color: #222224;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;
}

.form_flex {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.subscribe {
    display: flex;
    margin-top: 32px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #E1E1E1;
    width: 256px;
    height: 49px;
    `: center;
    align-items: center;
}

.subscribe_form {
    background-color: #E1E1E1;
    border: 1px solid transparent;
    height: 36px;
    width: 170px;

}

.subscribe_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 49px;
    background-color: #F16D7F;
    color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.form_button {}

. @media (max-width: 1024px) {
    .center {
        margin-left: calc(50% - 367px);
        margin-right: calc(50% - 367px);
    }

    .cover_content {
        margin-left: calc(50% - 378px);
        margin-right: calc(50% - 378px);
    }

    .cover_img {
        max-width: 386px;
    }

    .brand_logo {
        margin-left: 39px;
    }

    .logo_title {
        font-size: 44px;
    }

    .logo_subtitle {
        font-size: 24px;
    }

    .menu_grid {
        gap: 19px;
    }

    .menu_img,
    .item {
        max-width: 231px;
        height: 167px;
    }

    .menu_img_big,
    .big {
        max-width: 734px;
        max-height: 116px;
    }

    .items_grid {
        gap: 16px;
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width: 767px) {
    .center {
        margin-left: 8px;
        margin-right: 8px;
        /* margin-left: calc(50% - 179px);
        margin-right: calc(50% - 179px); */
    }

    .right_header {}

    .hiden_img {
        visibility: hidden;
        position: absolute;
    }

    .cover_content {
        flex-wrap: wrap;
        position: relative;
        flex-direction: column;
        height: 363px;
        justify-content: center;
        margin-bottom: 64px;
        width: 100vw;
        margin: 0;
    }

    .cover_img {
        position: absolute;
        visibility: hidden;
        width: 20px;
    }

    .brand_logo {
        margin-left: 8px;
    }

    .menu_grid {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 32px;
        margin: 64px;
    }

    .item {
        /* max-width: 343px; */
        max-width: 95vw;
        min-height: 247px;
    }

    .big {
        max-width: 95vw;
        min-height: 111px;
        background-image: url(img/Categories.png);

    }

    .items_grid {
        display: flex;
        flex-direction: column;
    }

    .product_img {
        max-width: 97vw;
    }
}