@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
* {
  margin: 0;
  padding: 0;
}
*:hover {
  transition: 0.3s;
}

body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

summary {
  display: block;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

.center {
  margin-left: calc(50% - 570px);
  margin-right: calc(50% - 570px);
}

.breadcrumbs {
  background-color: #F8F3F4;
  margin-bottom: 0;
}
.breadcrumbs__menu {
  height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.breadcrumbs__left {
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.breadcrumbs__right {
  display: flex;
  justify-content: flex-end;
}
.breadcrumbs__link {
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.breadcrumbs__link:hover {
  text-shadow: 2px 2px 5px #6F6E6E;
}
.breadcrumbs__link:first-child::after, .breadcrumbs__link:nth-child(n)::after {
  content: "/";
  padding: 0 8px;
}
.breadcrumbs__link:last-child {
  color: #F16D7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.breadcrumbs__link:last-child:hover {
  text-shadow: 2px 2px 5px #F16D7F;
}
.breadcrumbs__link:last-child::after {
  content: none;
}

.header {
  background-color: #222;
  padding-bottom: 20px;
  padding-top: 18px;
  position: relative;
}
.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  gap: 41px;
}
.header__right {
  display: flex;
  margin-right: 8px;
  gap: 25px;
  justify-content: center;
  align-items: center;
}
.header__button path {
  fill: #E8E8E8;
}
.header__button:hover path {
  fill: #F16D7F;
  transition: 0.5s;
}
.header__basket {
  position: relative;
}
.header__add__count::after {
  position: absolute;
  right: -10px;
  top: -5px;
  content: "5";
  color: white;
  background-color: #F16D7F;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.logo__icon path {
  fill: #F16D7F;
}
.logo__icon path:hover path {
  filter: drop-shadow(3px 3px 6px #F16D7F);
}

#burger {
  position: absolute;
  left: -999999px;
  visibility: hidden;
}
#burger:checked ~ .nav {
  right: 0;
}

.box-content {
  overflow: hidden;
}

.nav {
  background: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  position: absolute;
  top: 79px;
  right: -232px;
  transition: right 0.3s;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 3;
}
.nav-style {
  margin-top: 25px;
}
.nav-style__title {
  margin-top: 25px;
}
.nav-style__items {
  margin-top: 11px;
  margin-left: 22px;
}
.nav__title {
  color: #F16D7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav__items {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cover {
  background-color: #F1E4E6;
}
.cover__content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(50% - 800px);
  margin-right: calc(50% - 800px);
  margin-bottom: 65px;
}
.cover__brand__logo {
  padding-left: 16px;
  border-left: 12px solid #F16D7F;
  display: flex;
  gap: 16px;
  margin-left: 63px;
}
.cover__brand {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}
.cover__brand__title {
  grid-column: span 2;
  color: #222;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.cover__brand__subtitle {
  color: #222;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.cover__brand .pink {
  color: #F16D7F;
}

.menu__grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 29px;
  margin-bottom: 95px;
}
.menu__item {
  border: 1px solid transparent;
  width: 360px;
  height: 260px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all 0.3s;
}
.menu__item:hover {
  border: 1px solid rgba(33, 22, 22, 0.7);
  filter: opacity(70%);
}
.menu .women {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/women.png);
}
.menu .men {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/men.png);
}
.menu .kids {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/kid.png);
}
.menu .big {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/accesories.png);
  grid-column: span 3;
  grid-row: 2;
  width: 1140px;
  height: 180px;
  flex-shrink: 0;
}
.menu__text {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.menu__title {
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.items__flex {
  margin-bottom: 48px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.items__title {
  color: #222;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.items__text {
  color: #9F9F9F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.items_grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 30px;
  margin-bottom: 48px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.product__title_and_price {
  padding: 24px 16px;
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-direction: column;
  background-color: #F8F8F8;
}
.product__subtitle {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product__price {
  color: #F16D7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product:hover .product_img {
  filter: brightness(0.5);
}
.product:hover .product_add {
  display: flex;
}
.product_add {
  position: absolute;
  top: 188px;
  left: 111px;
  border: 1px solid #fff;
  width: 139px;
  height: 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 11px;
  color: #FFFFFF;
  transition: all 0.4s;
}
.product_add:hover {
  box-shadow: 0 0 5px #fff;
}
.product_add:hover svg path {
  fill: #F16D7F;
}
.product_img {
  transition: all 0.9s;
}

.show_all {
  display: flex;
  justify-content: center;
}

.all_product_link {
  color: #F16D7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #F16D7F;
  padding: 15px 39px;
  text-decoration: none;
  margin-bottom: 60px;
  transition: all 0.3s;
}

.all_product_link:hover {
  border: 1px solid #ffffff;
  background-color: #F16D7F;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .center {
    margin-left: calc(50% - 367px);
    margin-right: calc(50% - 367px);
  }
  .cover__content {
    margin-left: calc(50% - 378px);
    margin-right: calc(50% - 378px);
  }
  .cover_img {
    max-width: 384px;
  }
  .cover__brand_logo {
    margin-left: 39px;
  }
  .cover__brand__title {
    font-size: 44px;
  }
  .cover__brand__subtitle {
    font-size: 24px;
  }
  .menu__grid {
    gap: 19px;
  }
  .menu__item {
    max-width: 231px;
    height: 167px;
  }
  .big {
    max-width: 734px;
    max-height: 116px;
  }
  .items_grid {
    gap: 16px;
    grid-template-columns: repeat(2, auto);
  }
  .footer__top_flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
  }
  .footer_info {
    background-size: cover;
    background-position: 25%;
    height: 693px;
  }
  .footer_info_flex {
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
  .about_title {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .center {
    margin-left: 8px;
    margin-right: 8px;
  }
  .nav {
    z-index: 1;
  }
  .hiden_img {
    visibility: hidden;
    position: absolute;
  }
  .cover__content {
    flex-wrap: wrap;
    position: relative;
    flex-direction: column;
    height: 363px;
    justify-content: center;
    margin-bottom: 64px;
    width: 100vw;
    margin: 0;
  }
  .cover_img {
    position: absolute;
    visibility: hidden;
    width: 20px;
  }
  .cover__brand__logo {
    margin-left: 8px;
  }
  .menu__grid {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    margin: 64px;
  }
  .menu__item {
    max-width: 95vw;
    min-height: 247px;
  }
  .menu .big {
    max-width: 95vw;
    min-height: 111px;
  }
  .items_grid {
    display: flex;
    flex-direction: column;
  }
  .product_img {
    max-width: 97vw;
  }
  .title_and_price {
    max-width: 329px;
  }
  .footer__bottom {
    min-height: 143px;
  }
  .copyrigth {
    display: flex;
    justify-content: center;
  }
  .footer__bottom__flex {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
* {
  margin: 0;
  padding: 0;
}
*:hover {
  transition: 0.3s;
}

body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

summary {
  display: block;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

.center {
  margin-left: calc(50% - 570px);
  margin-right: calc(50% - 570px);
}

.breadcrumbs {
  background-color: #F8F3F4;
  margin-bottom: 0;
}
.breadcrumbs__menu {
  height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.breadcrumbs__left {
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.breadcrumbs__right {
  display: flex;
  justify-content: flex-end;
}
.breadcrumbs__link {
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.breadcrumbs__link:hover {
  text-shadow: 2px 2px 5px #6F6E6E;
}
.breadcrumbs__link:first-child::after, .breadcrumbs__link:nth-child(n)::after {
  content: "/";
  padding: 0 8px;
}
.breadcrumbs__link:last-child {
  color: #F16D7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.breadcrumbs__link:last-child:hover {
  text-shadow: 2px 2px 5px #F16D7F;
}
.breadcrumbs__link:last-child::after {
  content: none;
}

.image__slide {
  background-color: #F7F7F7;
  height: 777px;
  border: 1px solid #eaeaea;
}

.carousel-inner_product {
  display: flex;
  justify-content: center;
  position: relative;
  right: 300px;
  top: 40px;
}
.carousel-control-prev {
  justify-content: flex-start;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'%3e%3cpath d='M21.6998 7.7499L13.9498 15.4999L21.6998 23.2499L20.1498 26.3499L9.2998 15.4999L20.1498 4.6499L21.6998 7.7499Z' fill='black'/%3e%3c/svg%3e");
  background-color: #2a2a2a;
}
.carousel-control-prev-icon:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'%3e%3cpath d='M21.6998 7.7499L13.9498 15.4999L21.6998 23.2499L20.1498 26.3499L9.2998 15.4999L20.1498 4.6499L21.6998 7.7499Z' fill='%23F16D7F'/%3e%3c/svg%3e");
}
.carousel-control-next {
  justify-content: flex-end;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'%3e%3cpath d='M9.2998 23.2499L17.0498 15.4999L9.2998 7.7499L10.8498 4.6499L21.6998 15.4999L10.8498 26.3499L9.2998 23.2499Z' fill='black'/%3e%3c/svg%3e");
  background-color: #2a2a2a;
}
.carousel-control-next-icon:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.2998 23.2499L17.0498 15.4999L9.2998 7.7499L10.8498 4.6499L21.6998 15.4999L10.8498 26.3499L9.2998 23.2499Z' fill='%23F16D7F'/%3e%3c/svg%3e ");
}
.carousel .product__description {
  position: relative;
  margin-top: -50px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #EAEAEA;
  margin-bottom: 130px;
}
.carousel .product__description__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 65px;
}
.carousel .product__description__header__title {
  color: #F16D7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.carousel .product__description__header__devider {
  margin-top: 12px;
}
.carousel .product__description__header__subtitle {
  margin-top: 12px;
  color: #4D4D4D;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.carousel .product__description__header__text {
  margin-top: 48px;
  color: #5E5E5E;
  max-width: 555px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.carousel .product__description__header__price {
  margin-top: 32px;
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.carousel .product__description__footer {
  display: flex;
  margin-top: 65px;
  padding-top: 65px;
  width: 641px;
  border-top: 1px solid #EAEAEA;
  justify-content: center;
  align-items: center;
  gap: 23px;
}
.carousel .product__description__footer__choose {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.carousel .product__description__footer__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 9px;
}
.carousel .product__description__footer__button_add_to_cart__button path {
  transition: 0.5s;
}
.carousel .product__description__footer__button_add_to_cart__button {
  transition: 0.5s;
  margin-top: 48px;
  margin-bottom: 64px;
  padding-left: 24px;
  width: 180px;
  height: 48px;
  border: 1px solid #F16D7F;
  color: #F16D7F;
  display: flex;
  gap: 24px;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.carousel .product__description__footer__button_add_to_cart__button:hover {
  background-color: #F16D7F;
  color: #FFF;
}
.carousel .product__description__footer__button_add_to_cart__button:hover path {
  fill: #fff;
  transition: 0.5s;
}
.carousel .product__description__footer__button_add_to_cart__button:active {
  background-color: #9F9F9F;
  color: #fff;
  border-color: #fff;
}
.carousel .product__description__footer__button_add_to_cart__button:active path {
  fill: #fff;
}

.product__description {
  position: relative;
  left: 126px;
  width: 880px;
  height: 759px;
  margin-top: -50px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #EAEAEA;
  margin-bottom: 130px;
}
.product__description__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 65px;
}
.product__description__header__title {
  color: #F16D7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.product__description__header__devider {
  margin-top: 12px;
}
.product__description__header__subtitle {
  margin-top: 12px;
  color: #4D4D4D;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.product__description__header__text {
  margin-top: 48px;
  color: #5E5E5E;
  max-width: 555px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.product__description__header__price {
  margin-top: 32px;
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.product__description__footer {
  display: flex;
  margin-top: 65px;
  padding-top: 65px;
  width: 641px;
  border-top: 1px solid #EAEAEA;
  justify-content: center;
  align-items: center;
  gap: 23px;
}
.product__description__footer__choose {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product__description__footer__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 9px;
}
.product__description__footer__button_add_to_cart__button path {
  transition: 0.5s;
}
.product__description__footer__button_add_to_cart__button {
  transition: 0.5s;
  margin-top: 48px;
  margin-bottom: 64px;
  padding-left: 24px;
  width: 180px;
  height: 48px;
  border: 1px solid #F16D7F;
  color: #F16D7F;
  display: flex;
  gap: 24px;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product__description__footer__button_add_to_cart__button:hover {
  background-color: #F16D7F;
  color: #FFF;
}
.product__description__footer__button_add_to_cart__button:hover path {
  fill: #fff;
  transition: 0.5s;
}
.product__description__footer__button_add_to_cart__button:active {
  background-color: #9F9F9F;
  color: #fff;
  border-color: #fff;
}
.product__description__footer__button_add_to_cart__button:active path {
  fill: #fff;
}

* {
  margin: 0;
  padding: 0;
}
*:hover {
  transition: 0.3s;
}

body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

summary {
  display: block;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

.center {
  margin-left: calc(50% - 570px);
  margin-right: calc(50% - 570px);
}

.breadcrumbs {
  background-color: #F8F3F4;
  margin-bottom: 0;
}
.breadcrumbs__menu {
  height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.breadcrumbs__left {
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.breadcrumbs__right {
  display: flex;
  justify-content: flex-end;
}
.breadcrumbs__link {
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.breadcrumbs__link:hover {
  text-shadow: 2px 2px 5px #6F6E6E;
}
.breadcrumbs__link:first-child::after, .breadcrumbs__link:nth-child(n)::after {
  content: "/";
  padding: 0 8px;
}
.breadcrumbs__link:last-child {
  color: #F16D7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.breadcrumbs__link:last-child:hover {
  text-shadow: 2px 2px 5px #F16D7F;
}
.breadcrumbs__link:last-child::after {
  content: none;
}

.filter-sort {
  height: 132px;
  padding-top: 39px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  gap: 30px;
}

.filter {
  padding-top: 13px;
  width: 360px;
  position: relative;
  z-index: 10;
  box-sizing: border-box;
}
.filter__content {
  background-color: #fff;
  padding: 0 16px 16px;
}
.filter[open] {
  transition: 0.2s;
  background: #FFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open]:hover path {
  filter: drop-shadow(1px 1px 5px #F16D7F);
  transition: 0.3px;
}
.filter[open] .filter__heading {
  color: #F16D7F;
  transition: 0.3s;
}
.filter[open] .filter__heading:hover {
  text-shadow: 0px 0px 5px #F16D7F;
  transition: 0.2s;
}
.filter[open] path {
  fill: #F16D7F;
  transition: 0.3s;
}
.filter__summary {
  padding-left: 16px;
  display: flex;
  align-items: center;
  gap: 11px;
}
.filter__summary:hover {
  text-shadow: 1px 1px 5px #000;
  transition: 0.3s;
}
.filter__summary:hover path {
  filter: drop-shadow(1px 1px 5px #000);
  transition: 0.3s;
}
.filter__heading {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.filter__item {
  margin-top: 16px;
  transition: 0.3s;
}
.filter__item[open] .filter__head {
  color: #F16D7F;
  transition: 0.3s;
}
.filter__item[open] .filter__head:hover {
  text-shadow: 1px 0px 3px #F16D7F;
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter__link {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.filter__link:hover {
  color: #F16D7F;
  transition: 0.3s;
  text-shadow: 1px 0px 3px #F16D7F;
}
.filter__head {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #F16D7F;
}
.filter__head:hover {
  text-shadow: 1px 0px 3px #6F6E6E;
  transition: 0.3s;
}

.sort {
  padding-top: 12px;
  display: flex;
  gap: 18px;
  z-index: 10;
}
.sort__details {
  position: relative;
}
.sort__summary {
  display: flex;
  gap: 10px;
  align-items: center;
}
.sort__summary:hover {
  text-shadow: 2px 2px 5px #6F6E6E;
}
.sort__summary:hover path {
  filter: drop-shadow(2px 2px 5px #6F6E6E);
}
.sort__check {
  display: flex;
  gap: 9px;
  align-items: center;
  color: #6F6E6E;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sort__heading {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sort__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
  position: absolute;
  left: -9px;
  top: 22px;
}

.select_pages_box {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.select_pages {
  padding: 0px 8px;
  background-color: #F7F7F7;
  height: 42px;
  width: 280px;
  border: 1px solid #aeaeae;
}

.carousel-inner {
  display: flex;
  justify-content: center;
  right: 0px;
  top: 8px;
}
.carousel-control-prev {
  justify-content: flex-start;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'%3e%3cpath d='M21.6998 7.7499L13.9498 15.4999L21.6998 23.2499L20.1498 26.3499L9.2998 15.4999L20.1498 4.6499L21.6998 7.7499Z' fill='black'/%3e%3c/svg%3e");
  background-color: white;
}
.carousel-control-prev-icon:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'%3e%3cpath d='M21.6998 7.7499L13.9498 15.4999L21.6998 23.2499L20.1498 26.3499L9.2998 15.4999L20.1498 4.6499L21.6998 7.7499Z' fill='%23F16D7F'/%3e%3c/svg%3e");
}
.carousel-control-next {
  justify-content: flex-end;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'%3e%3cpath d='M9.2998 23.2499L17.0498 15.4999L9.2998 7.7499L10.8498 4.6499L21.6998 15.4999L10.8498 26.3499L9.2998 23.2499Z' fill='black'/%3e%3c/svg%3e");
  background-color: white;
}
.carousel-control-next-icon:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.2998 23.2499L17.0498 15.4999L9.2998 7.7499L10.8498 4.6499L21.6998 15.4999L10.8498 26.3499L9.2998 23.2499Z' fill='%23F16D7F'/%3e%3c/svg%3e ");
}

.footer__top {
  background-color: #222;
  padding-bottom: 104px;
  padding-top: 104px;
}
.footer__top_flex {
  display: flex;
  justify-content: space-between;
}
.footer__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
}
.footer__icon__title {
  color: #FBFBFB;
  font-size: 19.96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}
.footer__icon__text {
  color: #FBFBFB;
  text-align: center;
  font-size: 13.972px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.footer__img {
  color: #F16D7F;
  margin-bottom: 28px;
}
.footer_info {
  background: linear-gradient(rgba(244, 244, 244, 0.7019607843), rgba(244, 244, 244, 0.7)), url(img/footer_bkgr.png);
  background-size: 100vw;
  background-position: left;
  background-repeat: no-repeat;
  height: 448px;
}
.footer_info_flex {
  display: flex;
  justify-content: flex-start;
  gap: 327px;
}
.footer_info__about__left {
  display: flex;
  width: 360px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.footer_info__about__left__text__flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.footer_info__about__left__text {
  color: #222224;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer_info__about__left__text__italic {
  color: #222224;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
.footer_info__about__right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer_info__about__right__title {
  margin-top: 150px;
  color: #222;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
}
.footer_info__about__right__subtitle {
  color: #222;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
}

.about__img {
  width: 96px;
  margin-top: 97px;
  margin-bottom: 30px;
}

.form__flex {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.form__subscribe {
  display: flex;
  margin-top: 32px;
  border-radius: 25px;
  background-color: #E1E1E1;
  width: 323px;
  height: 49px;
  align-items: center;
}
.form__type__subscribe {
  background-color: #E1E1E1;
  border-style: none;
  height: 49px;
  width: 210px;
  margin-left: 22px;
  margin-right: 22px;
  outline: 0;
  outline-offset: 0;
  color: #222;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form__subscribe_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 49px;
  background-color: #F16D7F;
  color: white;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form__subscribe_button:hover {
  animation: heartbeat 2s ease-in-out infinite both;
}

.footer__bottom {
  height: 79px;
  background-color: #222224;
}
.footer__bottom__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__bottom__flex__copyrigth {
  width: 332px;
  color: #FBFBFB;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
}
.footer__bottom__flex__social__icon {
  display: flex;
  gap: 7px;
  margin-top: 24px;
}

.link_button,
path {
  display: flex;
  height: 31.5px;
  width: 32px;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.link_button:hover {
  background-color: #F16D7F;
}

.link_button:hover path {
  fill: white;
}/*# sourceMappingURL=style.css.map */