@import 'var';

@mixin displayFlex ($position) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $position;
    align-items: center;
}

@mixin siteFontStyle {
    font-family: sans-serif;
    font-style: normal;
}