@import 'var';
@import 'mixins';



a {
    text-decoration: none;
}

.nav {
    display: flex;
    gap: $selectGap;

    &__link {
        @include siteFontStyle;
        text-decoration: none;
    }
}

.container {
    size: $sizeWidthPage;
}

.title {
    &_part_1 {
        color: $colorSelectSite;
    }
}

.content {
    @include displayFlex (end);
    gap: $selectGap;


    &__item {
        width: $sizeWidthPage / 4;
        background-color: $colorSelectSite;
        height: 200px;
        border: $selectBorderSite;
    }
}